<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Task No:1</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
	</head>
	<body id="container">
		<header id="header">
			<p>HEADER</p>
		</header>
		<menu>
			<div id="nav">
				<ul>
					<li>Level 1
						<ul>
							<li>level 2</li>
							<li>level 2
								<ul>
									<li>level 3</li>
									<li>level 3</li>
								</ul> 
							</li>
						</ul>
					</li>
				</ul>
			</div> 
			<div id="nav">
				<ul>
					<li>Level 1
						<ul>
							<li>level 2</li>
							<li>level 2
								<ul>
									<li>level 3</li>
									<li>level 3</li>
								</ul> 
							</li>
						</ul>
					</li>
				</ul>
			</div> 
			<div id="nav">
				<ul>
					<li>Level 1
						<ul>
							<li>level 2</li>
							<li>level 2
								<ul>
									<li>level 3</li>
									<li>level 3</li>
								</ul> 
							</li>
						</ul>
					</li>
				</ul>
			</div> 
			<div id="nav">
				<ul>
					<li>Level 1
						<ul>
							<li>level 2</li>
							<li>level 2
								<ul>
									<li>level 3</li>
									<li>level 3</li>
								</ul> 
							</li>
						</ul>
					</li>
				</ul>
			</div> 
			<div id="nav">
				<ul>
					<li>Level 1
						<ul>
							<li>level 2</li>
							<li>level 2
								<ul>
									<li>level 3</li>
									<li>level 3</li>
								</ul> 
							</li>
						</ul>
					</li>
				</ul>
			</div> 
			<div id="nav">
				<ul>
					<li>Level 1
						<ul>
							<li>level 2</li>
							<li>level 2
								<ul>
									<li>level 3</li>
									<li>level 3</li>
								</ul> 
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="nav">
				<ul>
					<li>Level 1
						<ul>
							<li>level 2</li>
							<li>level 2
								<ul>
									<li>level 3</li>
									<li>level 3</li>
								</ul> 
							</li>
						</ul>
					</li>
				</ul>
			</div> 
			
		</menu>
		<sidebar id="sidebar">
			<p>SIDEBAR</p>
		</sidebar>

		<content id="content">
			<p>CONTENT</p>
			<gallery id="gallery">
				<col1 id="col1">
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
				</col1>
				<col1 id="col1">
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
				</col1>
					<col1 id="col1">
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
				</col1>
				<col1 id="col1">
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
					<div id="img">
						<a id="img_" target="_blank" href="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg"><img src="http://www.nasa.gov/images/content/693952main_pia15817-full_full.jpg" alt="Klematis" width="200" height="140"></a>
					</div>
				</col1>
			
			</gallery>
		</content>

		<footer id="footer">
			<p>FOOTER</p>
		</footer>
	</body>
</html>