p {
    text-align: center;
}

#container {
    width:1220px;
    margin:20px auto;
}

#header {
	background: #8421C7;
	height: 50px;
	padding: 5px;
}

#sidebar {
	float: left;
	width: 200px;
	height: 100px;
	background: #D174CA;
	padding: 150px 5px;
}

#content {
    float:right;
    width:1000px;
    height:100px;
	background:#B42727;
	padding:150px 5px
}

#footer {
    clear:both;
    background: #8421Ca;
	height: 50px;
	padding: 5px;
}