<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Task No:1</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
	</head>
	<body id="container">
		<header id="header">
			<p>HEADER</p>
		</header>
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div> 
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div> 
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div> 
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div> 
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div> 
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div> 
		<div id="nav">
			<ul>
				<li>Level 1
					<ul>
						<li>level 2</li>
						<li>level 2
							<ul>
								<li>level 3</li>
								<li>level 3</li>
							</ul> 
						</li>
					</ul>
				</li>
			</ul>
		</div> 
		
		<sidebar id="sidebar">
			<p>SIDEBAR</p>
		</sidebar>

		<content id="content">
			<p>CONTENT</p>
		</content>

		<footer id="footer">
			<p>FOOTER</p>
		</footer>
	</body>
</html>