p {
    text-align: center;
}

body {
	background-image:url('Angel.jpg');
	background-color:yellow;
}

#container {
    width:1220px;
    margin:20px auto;
}

#header {
	background: #8421C7;
	height: 50px;
	padding: 10px;
}

#sidebar {
	float: left;
	width: 200px;
	height: 400px;
	background: #D174CA;
	padding: 150px 5px;
}

#content {
    float:right;
    width:1000px;
    height:400px;
	background-color:rgba(33,33,33,0.9);
	padding:150px 5px
}

#footer {
    clear:both;
    background: #8421C7;
	height: 50px;
	padding: 10px;
}

#nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
#nav ul li{ 
	margin:0;
	padding:10px 20px;
	position:relative;
	height:20px;
	width:110.4px;
	line-height:25px;
	background-color:#766CEB;
}
#nav > ul > li {
	float: left;
	height:30px;
	line-height:30px;
	background-color:#5A4DEB;
	border-style:solid;
	border-width:1px;
}

#nav li > ul{
	visibility:hidden;
	width:200px;
	position: absolute;
	top:0px;
	left:100px;
	border-left:1px solid #000;
}
#nav > ul > li > ul{
	top:50px;
	left:0;
}
#nav li:hover{
	background-color:rgba(60,33,33,0.9);
}
#nav li:hover > ul{
	visibility:visible;
}